

.cover__link {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../../images/route66.jpg');
  background-size: cover;
  text-decoration: none;
  color: white;
  position: relative;
  
}


@media screen and (min-width: 544px) {
  .cover__link {
    min-height: 480px;
  }
}

@media screen and (min-width: 900px) {
  .cover__link {
    min-height: 640px;
  }
}

@media screen and (min-width: 1140px) {
  .cover__link {
    min-height: 740px;
  }
}

@media screen and (min-width: 2400px) {
  .cover__link {
    min-height: 1140px;
  }
}

.cover__link:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #2A2C2F;
  opacity: 0.3;
}

.cover__link:hover:after {
  opacity: 0.8;
}