@import url('./__item/photo-grid__item.css');
@import url('./__list-item/photo-grid__list-item.css');

.photo-grid {
  display: grid;
  gap: 12px;
  width: 100%;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  
}

@media screen and (min-width: 544px) {
  .photo-grid {
    gap: 16px;
  }
}

@media screen and (min-width: 900px) {
  .photo-grid {
    gap: 14px;
  }
}

@media screen and (min-width: 1140px) {
  .photo-grid {
    gap: 16px;
  }
}