@import url('./__caption/lead__caption.css');
@import url('./__image/lead__image.css');
@import url('./__subtitle/lead__subtitle.css');
@import url('./__title/lead__title.css');

.lead {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 875px) {
  .lead {
    margin: 0 48px;
}
  }
  

  @media screen and (min-width: 1140px) {
    .lead {
      margin: 0 148px;
  }
    }