

@media screen and (min-width: 544px) {

    .cover__link {
        max-height: 200px;
    }

}

@media screen and (max-width: 925px) {

    .cover__link {
        max-height: 480px;
    }

}

@media screen and (min-width: 1128px) {

    .cover__link {
        max-height: 740px;
    }

}