
@import url('./__lang-link/header__lang-link.css');
@import url('./__lang-link/_no-underline/header-__lang-link_no-underline.css');
@import url('./__lang-links/header__lang-links.css');
@import url('./__logo/header__logo.css');

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 16px 0;
 }
 
 @media screen and (min-width: 530px) {
   .header {
     padding: 34px 24px 0;
   }
 }
 
 @media screen and (min-width: 900px) {
   .header {
     padding: 34px 48px 0;
   }
 }
 
 @media screen and (min-width: 1140px) {
  .header {
    padding: 34px 148px 0;
  }
}
