



.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  text-decoration: none;
  color: white;
  padding: 0 0 32px;
  display: flex;

} 

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (min-width: 530px) {
  .footer__link {
    font-size: 16px;
    line-height: calc(18/16);
    margin: 0 18px 0 0;
    padding: 0;
    
  }
}
