.lead__title {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: calc(44/40);
  text-align: center;
  max-width: 288px;
  padding: 50px 0 16px;
  margin: 0;
}

@media screen and (min-width: 650px) {
  .lead__title {
    max-width: 720px;
    font-size: 96px;
    line-height: calc(100/96);
    padding: 50px 0 32px;
  }
}

