

.footer__links {
  margin: 0;
  list-style: none;
  padding: 64px 0 0;
  display: flex;
  flex-direction: column;
}


.footer__link:hover {
  opacity: 0.8;
}

@media screen and (min-width: 530px) {
  .footer__links {
    flex-direction: row;
    padding: 88px 0 0;

  }
  
}

@media screen and (min-width: 900px) {
  .footer__links {
    flex-direction: row;
    padding: 92px 0 0;

  }
  
}