
.footer__copyright {
  padding: calc(48px - 32px) 0 0;
  font-size: 14px;
  line-height: 1;
  align-self: flex-end;

}

@media screen and (min-width: 530px) {
  .footer__copyright {
  padding: 0;
  font-size: 14px;
  line-height: calc(16/14);
  align-self: flex-end;
  }
}

