@import url('./__list-item/intro__list-item.css');
@import url('./__list-item/_span/intro__list-item_span.css');
@import url('./__list/intro__list.css');
@import url('./__paragraph/intro__paragraph.css');
@import url('./__subtitle/intro__subtitle.css');
@import url('./__title/intro__title.css');

.intro {
  padding: 0 16px;
}

@media screen and (min-width: 530px) {
  .intro {
    padding: 0 24px;
  }
}

@media screen and (min-width: 875px) {
  .intro {
    padding: 0 48px 0;
  }
}

@media screen and (min-width: 1140px) {
  .intro {
    padding: 0 148px 0;
  }
}
