@import url('./__link/cover__link.css');
@import url('./__subtitle/cover__subtitle.css');
@import url('./__title/cover__title.css');

.cover {
  margin: 0;
  padding: calc(64px - 24px) 0 0;
}

@media screen and (min-width: 530px) {
  .cover {
    padding: calc(88px - 24px) 0 0;
  }
}
@media screen and (min-width: 900px) {
  .cover {
    padding: 92px 0 0;
  }
}

@media screen and (min-width: 1140px) {
  .cover {
    padding: 92px 48px 0;
  }
}