.lead__caption {
  padding: 0 16px;
  margin: 8px 0 0;
  align-self: flex-start;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  line-height: calc(14/10);
  font-size: 10px;
}

@media screen and (min-width: 530px) {
  .lead__caption{
    padding: 0 24px;
  }
}


@media screen and (min-width: 900px) {
  .lead__caption{
    padding: 0;
  }
}
