
.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: calc(35/32);
  text-align: center;
  max-width: 288px;
  position: relative;
  z-index: 1;
  margin: 0 0 16px;
  text-align: center;
}

@media screen and (min-width: 544px) {
  .cover__title {
    font-size: 52px;
    line-height: 1.07;
    max-width: 656px;
    margin: 0 0 32px;
  }
}

@media screen and (min-width: 700px) {
  .cover__title {
    font-size: 72px;
    line-height: calc(76/72);

  }
}
