.photos {
    margin: 64px 16px calc(64px - 48px);
    padding: 0;
  }
  
  @media screen and (min-width: 530px) {
    .photos {
      margin: 88px 24px 0;
      padding: 0 0 calc(88px - 72px);
  }
  }
  
  @media screen and (min-width: 900px) {
    .photos {
      margin: 92px 48px 0;
      padding: 0 0 calc(92px - 80px)
  }
  }
  
  