.section__link {
  display: none;
}

.section__link:hover {
  opacity: 0.8;
}

@media screen and (min-width: 530px) {
  .section__link {
    display: block;
    font-size: 18px;
    line-height: calc(22/18);
    text-decoration: underline;
    color: white;
    width: 100%;
  }
}
