.intro__title {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: calc(35/32);
  margin: 64px 0 0 0;
  }
  
  @media screen and (min-width: 530px) {
    .intro__title {
      font-size: 54px;
      line-height: calc(58/54);
      margin: 88px 0 0;
    }
  }
  
  @media screen and (min-width: 875px) {
    .intro__title {
      margin: 92px 0 0;
    }
  }
  @media screen and (min-width: 900px) {
    .intro__title {
      max-width: 690px;
    }
  }
  